h1{
    text-align: center;
};
.caixa-cake{}

.cake{
    display: flex;
    width: 18%;
margin-left: 5%;
height: 10%;
};

.caixa-pizza{}

.pizza{
    display: flex;
    width: 18%;
    margin-left: 25%;
    top: -5%;
};
.caixa-smoothie{}

.smoothie{
    display: flex;
    width: 23%;
}
